<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/home/linuxz/chord_savant/static/style.css">
    <script src="/home/linuxz/chord_savant/static/script.js"></script> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    

    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet"> -->
    <title>Chord Savant</title>
</head>

<body>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <div class="nav">
        <a href="index.html"> <button class="home">HOME</button></a>
        <a href="aboutus.html"><button class="abt">ABOUT US</button></a>
    </div>
    <div class="main">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <div class="item">
                <input type="file" id="fileip" name="audio" accept="audio/*" onchange="validateForm()">
                <label for="fileip" class="upload ">Upload file</label>

                <input type="submit" value="Submit" class=" upload subbtn ">
            </div>
        </form>
        <!-- <div class="link">

            <input type="text" id="yt" accept="link" placeholder="YouTube link" onchange="convertToMp3()">
            <button type="submit" class="sub" onclick="convertToMp3()">Submit</button>

        </div> -->
    </div>

    <div class="chord">Chord Savant</div>

    <div class="result">
        {{chords}}
    </div>

</body>

</html>